extends layout


block content
  .coffee.text-center(ng-controller="CoffeeCtrl")

    .row
      .col-md-2
      .col.box
        .row(ng-hide="coffeeMachineActive")
          .col.box(ng-click="(coffeeMachineWarming || blocked) || turnCoffeeMaschine()")
            h2.ion-power
            p.small Kaffeemaschine
            p(ng-hide="coffeeMachineWarming")
              strong Einschalten
            .div(ng-show="coffeeMachineWarming")
              p
                strong Wird erhitzt
              .progress.coffeeMachine
                .progress-bar(role='progressbar',ng-style="{ 'width' : getPercentage()+'%'}", aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')

        .row(ng-show="coffeeMachineActive")
          .col.box(ng-click="turnCoffeeMaschine()")
            h2.ion-power
            p.small Kaffeemaschine
              p
                strong Ausschalten

          .col.box(ng-click="coffeeInProcess || makeCoffee()")
            h2.ion-coffee
            p.small Kleine Tasse
            p(ng-hide="coffeeInProcess")
              strong brühen
            .div(ng-show="coffeeInProcess")
              p
                strong Wird zubereitet
              .progress.coffeeMachine
                .progress-bar(role='progressbar',ng-style="{ 'width' : getPercentageBrew()+'%'}", aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
      .col.box
        .row
          .col
              .status(ng-repeat="action in actions | limitTo:-3 | orderBy:'createdAt':true")
                p
                  strong {{action.action}}
                time.small {{action.createdAt | date:'dd.MM.yyyy - HH:mm'}} Uhr

      .col-md-2

    .row
      .col-md-2
      .col.box
        h2 Stats
        p.lead Total coffees: {{coffeeCounter.drunkenCoffees}}
        #chart
      .col-md-2



